---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=w32U0X4QB1PV3R0XOeE5EOp8gdNux0SLBeAZF7qf&fuel_type=ELEC&location=80302
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      Last-Modified:
      - Wed, 17 May 2017 17:11:44 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":40.036037,"longitude":-105.349559,"precision":{"types":["postal_code"],"name":"postal_code","value":5},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":21,"station_counts":{"total":51,"fuels":{"E85":{"total":0},"ELEC":{"total":51,"stations":{"total":21}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":0},"CNG":{"total":0},"LPG":{"total":0}}},"offset":0,"fuel_stations":[{"access_days_time":"Center
        business hours","cards_accepted":null,"date_last_confirmed":"2016-11-02","expected_date":null,"fuel_type_code":"ELEC","id":42431,"groups_with_access_code":"Public","open_date":"2012-12-31","owner_type_code":"LG","status_code":"E","station_name":"City
        of Boulder - North Boulder Recreation Center","station_phone":"303-413-7260","updated_at":"2017-01-18T02:28:30Z","geocode_status":"200-8","latitude":40.0323777,"longitude":-105.2820494,"city":"Boulder","intersection_directions":null,"plus4":null,"state":"CO","street_address":"3170
        Broadway","zip":"80304","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["NEMA520","J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":1,"ev_level2_evse_num":1,"ev_network":null,"ev_network_web":null,"ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"distance":3.58925},{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2017-05-17","expected_date":null,"fuel_type_code":"ELEC","id":82570,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"BOULDER
        COUNTY","station_phone":"888-758-4389","updated_at":"2017-05-17T08:09:13Z","geocode_status":"GPS","latitude":40.0371257,"longitude":-105.2814428,"city":"Boulder","intersection_directions":"N
        BROADWAY 1","plus4":null,"state":"CO","street_address":"3450 Broadway","zip":"80304","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:155433"]},"distance":3.61318},{"access_days_time":"Employee
        use only","cards_accepted":null,"date_last_confirmed":"2016-11-02","expected_date":"2016-12-15","fuel_type_code":"ELEC","id":79298,"groups_with_access_code":"PLANNED
        - not yet accessible (Private)","open_date":null,"owner_type_code":"LG","status_code":"P","station_name":"City
        of Boulder - Broadway and Alpine Parking Garage","station_phone":null,"updated_at":"2017-01-18T01:50:18Z","geocode_status":"200-8","latitude":40.0250255,"longitude":-105.2824137,"city":"Boulder","intersection_directions":null,"plus4":null,"state":"CO","street_address":"2655
        N Broadway","zip":"80304","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":6,"ev_network":null,"ev_network_web":null,"ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"distance":3.64136},{"access_days_time":"MO:
        12:00am-12:00am; TU: 12:00am-12:00am; WE: 12:00am-12:00am; TH: 12:00am-12:00am;
        FR: 12:00am-12:00am; SA: 12:00am-12:00am; SU: 12:00am-12:00am","cards_accepted":null,"date_last_confirmed":"2017-05-17","expected_date":null,"fuel_type_code":"ELEC","id":81725,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"Vision
        Ridge Partners","station_phone":"800-663-5633","updated_at":"2017-05-17T07:51:13Z","geocode_status":"GPS","latitude":40.016728110325,"longitude":-105.2820789814,"city":"Boulder","intersection_directions":"The
        station is located in the alley behind Vision Ridge Partners and is offered
        as Open Access, courtesy of Vision Ridge.","plus4":null,"state":"CO","street_address":"1011
        Walnut Street","zip":"80302","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":1,"ev_network":"SemaCharge
        Network","ev_network_web":"http://www.semacharge.com/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"station":["1534"],"posts":["3998"]},"distance":3.81908},{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2017-05-17","expected_date":null,"fuel_type_code":"ELEC","id":80401,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"NAMASTE
        SOLAR 1","station_phone":"888-758-4389","updated_at":"2017-05-17T08:06:14Z","geocode_status":"GPS","latitude":40.0577982,"longitude":-105.2822751,"city":"Boulder","inters[...]
